<a href="https://colab.research.google.com/github/tomektom10/dataScienceBootCamp/blob/main/miesi%C4%85ce_szorty.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("kkkkkkkk.xlsx")

In [3]:
df['Profit_Loss'] = df['Bilans'] - df['Price SK (EUR/MWh)']

In [4]:
df.drop('Unnamed: 11', axis=1, inplace=True)

In [5]:
df.drop('Unnamed: 10', axis=1, inplace=True)

In [6]:
df

,Delivery day,Period number,Period,Traded Price Average (EUR/MWh),Weighted average price of all trades (EUR/MWh),Minimal price (EUR/MWh),Maximal price (EUR/MWh),Last price (EUR/MWh),Bilans,Price SK (EUR/MWh),Profit_Loss
0,2023-01-01,1.0,00:00 - 01:00,19.40,18.93,7.00,30.26,19.00,-5.0000,20.26,-25.2600
1,2023-01-01,2.0,01:00 - 02:00,3.07,1.35,0.30,10.33,0.30,-2.2525,0.33,-2.5825
2,2023-01-01,3.0,02:00 - 03:00,4.18,2.05,0.50,10.50,0.50,-5.0000,0.50,-5.5000
3,2023-01-01,4.0,03:00 - 04:00,4.40,2.26,0.00,10.50,0.00,-5.0000,0.50,-5.5000
4,2023-01-01,5.0,04:00 - 05:00,5.08,3.12,0.00,10.10,0.00,-5.0000,0.10,-5.1000
...,...,...,...,...,...,...,...,...,...,...,...
8756,2023-12-31,21.0,20:00 - 21:00,26.51,27.36,14.23,48.00,15.00,-5.0000,24.04,-29.0400
8757,2023-12-31,22.0,21:00 - 22:00,17.22,18.78,3.87,45.00,5.00,-5.0000,9.85,-14.8500
8758,2023-12-31,23.0,22:00 - 23:00,16.81,19.80,4.23,55.00,5.00,-5.0000,10.68,-15.6800
8759,2023-12-31,24.0,23:00 - 00:00,13.72,18.38,6.64,35.11,8.59,-5.0000,15.11,-20.1100
8760,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:

from io import StringIO



# Convert the 'Delivery day' to datetime
df['Delivery day'] = pd.to_datetime(df['Delivery day'])

# Filtering the DataFrame for January 2023
january_df = df[df['Delivery day'].dt.month == 1]

# Group by day and sum the 'Profit_Loss' column
daily_profit_loss = january_df.groupby(january_df['Delivery day'].dt.day)['Profit_Loss'].sum()

daily_profit_loss
###### styczen########

Delivery day
1      102.11000
2    -1702.78375
3     -308.16125
4      358.35625
5     -625.59125
6    -1603.80500
7     -822.54125
8     -489.93000
9      239.04375
10     188.98625
11    -864.35650
12    -315.76000
13     709.23750
14     -63.90000
15     342.25375
16    -944.56000
17    -368.93250
18    -393.30875
19    1197.11000
20    1784.45125
21     306.58000
22    -564.57875
23   -1393.79050
24   -1223.69000
25    1731.39125
26     910.87875
27     294.78875
28     543.82000
29    -390.87250
30    2218.77250
31    -807.57750
Name: Profit_Loss, dtype: float64

In [10]:
# Summing the 'Profit_Loss' column
total_profit_loss = january_df['Profit_Loss'].sum()
total_profit_loss

-1956.3594999999996

In [8]:
# Filtering the DataFrame for February 2023
february_df = df[df['Delivery day'].dt.month == 2]

# Group by day and sum the 'Profit_Loss' column
february_daily_profit_loss = february_df.groupby(february_df['Delivery day'].dt.day)['Profit_Loss'].sum()

february_daily_profit_loss
###### luty##################

Delivery day
1    -1075.23125
2     -319.88325
3      808.10750
4    -1513.90250
5     -780.05875
6    -1522.01500
7     1666.96000
8      613.70500
9    -1615.80000
10     531.63375
11     548.27500
12    -730.42000
13   -1727.88000
14   -1070.53625
15     375.25375
16    1565.96375
17     -53.82500
18    -969.17625
19   -1197.70000
20    -476.60375
21      26.22500
22     441.98000
23   -1009.68750
24    -808.45375
25     127.86550
26    -905.06875
27     -81.01875
28     173.70250
Name: Profit_Loss, dtype: float64

In [12]:
# Summing the 'Profit_Loss' column
total_profit_loss_F = february_df['Profit_Loss'].sum()
total_profit_loss_F

-8977.589

In [9]:
# Function to calculate the longest sequence of consecutive profits
def longest_profit_sequence(profit_loss_series):
    max_length = 0
    current_length = 0

    for value in profit_loss_series:
        if value > 0:
            current_length += 1
            max_length = max(max_length, current_length)
        else:
            current_length = 0

    return max_length

# Calculating the longest sequence of profits
longest_profit_streak = longest_profit_sequence(df['Profit_Loss'])
longest_profit_streak

38

In [ ]:
#############marzec ##################

In [13]:
# Filtering the DataFrame for March 2023
march_df = df[df['Delivery day'].dt.month == 3]

# Group by day and sum the 'Profit_Loss' column
march_daily_profit_loss = march_df.groupby(march_df['Delivery day'].dt.day)['Profit_Loss'].sum()

march_daily_profit_loss

Delivery day
1     -480.94625
2    -1057.45000
3     -290.35875
4     -241.35250
5      535.97250
6     -645.08500
7      240.03000
8      -66.03500
9      463.82125
10    -225.38375
11     395.00375
12    -107.28000
13    -659.00250
14     215.33250
15     718.87875
16    -766.88250
17     203.90000
18     -83.83250
19      82.19000
20    -565.03750
21    -619.34625
22     -12.04125
23     232.31750
24    -192.94250
25    -266.20000
26    -366.35500
27     -16.60500
28    -558.15125
29     284.08750
30       3.34875
31    1070.74875
Name: Profit_Loss, dtype: float64

In [14]:
# Summing the 'Profit_Loss' column
total_profit_loss_M = march_df['Profit_Loss'].sum()
total_profit_loss_M

-2774.65625